html {
    margin: 10px;
}

.level-2 {
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border: 2px #ff0000 dashed;
    background-color: #008000;
}

.just-to-fill {
    width: 100%;
    height: 100%;
}

.level-3 {
    width: 600px;
    line-height: 1.15rem;
    letter-spacing: 0.01rem;
    font-size: 16px;
    text-align: justify;
}

.left-floating-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
}

.right-floating-image {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 150px;
}