*,
*:before,
*:after {
    box-sizing: border-box;
}

.level-1-2 {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #d3b714;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    height: 4em;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu_toggle {
    opacity: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.menu_item {
    color: #333;
    padding-left: 1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.main-container aside {
    flex: 0 0 210px;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}

.center {
    order: 1;
    background-color: #ffffff;
    padding: 3em;
    text-align: center;
}

.work-samples {
    display: flex;
    flex-wrap: wrap;
}

.sample {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    align-items: center;
    margin: 15px 10px;
    padding: 15px;
    flex: 1 1 calc(33% - 30px);
    transition: box-shadow .3s;
}

.sample:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.preview-image {
    background-color: #c7b7b7;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px 10px;
    color: #ffffff;
    background: #685174;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.header {
    text-transform: uppercase;
    margin: 1em;
}

.aside-left {
    order: 0;
    background-color: #c798b9;
}

.aside-right {
    order: 2;
    background-color: #9cb1c7;
}

footer {
    background-color: #84e884;
    padding: 1em;
    text-align: center;
}

.level-3 {
    display: flex;
    justify-content: center;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100px;
    border: 5px #000000 solid;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.item-1 {
    order: 1;
    background-color: #fd644d;
    width: 50%;
}

.item-5 {
    order: 2;
    background-color: #fda429;
    width: 50%;
}

.item-3 {
    order: 3;
    background-color: #663797;
    width: 33.33%;
}

.item-2 {
    order: 4;
    background-color: #4983b2;
    width: 33.33%;
}

.item-4 {
    order: 5;
    background-color: #0e7f12;
    width: 33.33%;
}

@media (max-width: 1023px) {
    .main-container {
        display: block;
    }
    .sample {
        flex: 1 1 calc(calc(50% -2em) - 20px);
    }
    .center {
        padding: 1em;
    }
    .aside-left {
        padding: 1em;
    }
    .aside-right {
        padding: 1em;
    }
}

@media (max-width: 799px) {
    .main-container {
        display: block;
    }
    .sample {
        flex: 1 1 100%;
    }
    .center {
        padding: 0.5em;
    }
    .aside-left {
        padding: 1em;
    }
    .aside-right {
        padding: 1em;
    }
}

@media (max-width: 639px) {
    body {
        min-width: 320px;
    }
    .main-container {
        display: block;
    }
    .sample {
        flex: 1 1 100%;
    }
    .center {
        padding: 0.5em;
    }
    .aside-left {
        padding: 1em;
    }
    .aside-right {
        padding: 1em;
    }
    .top-bar {
        position: fixed;
        width: 100%;
    }
    .main-nav {
        position: relative;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        top: 3em;
        right: 0;
        padding: 1em 1em;
        background-color: #ECEFF1;
        visibility: hidden;
        transition-duration: .25s;
    }
    .menu_item {
        display: block;
        margin-bottom: 1em;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu_item:hover {
        background-color: #CFD8DC;
    }
    .menu_button {
        display: flex;
        align-items: center;
        position: fixed;
        height: 2em;
        width: 2em;
        z-index: 1;
        right: 1em;
        top: 1em;
    }
    .menu_button>span,
    .menu_button>span::before,
    .menu_button>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu_button>span::before {
        content: '';
        top: -8px;
    }
    .menu_button>span::after {
        content: '';
        top: 8px;
    }
    .main-container {
        margin-top: 4em;
    }
    .menu_toggle {
        position: fixed;
        zoom: 2;
        /* opacity: 0.2; */
        right: 0.5em;
        z-index: 2;
    }
    .menu_toggle:checked~.menu_button>span {
        transform: rotate(45deg);
    }
    .menu_toggle:checked~.menu_button>span::before {
        top: 0;
        transform: rotate(0);
    }
    .menu_toggle:checked~.menu_button>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu_toggle:checked~.menu {
        visibility: visible;
    }
}