*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #555;
}

@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.eot');
    src: url('../fonts/FREESCPT.eot') format('embedded-opentype'),
         url('../fonts/FREESCPT.woff2') format('woff2'),
         url('../fonts/FREESCPT.woff') format('woff'),
         url('../fonts/FREESCPT.ttf') format('truetype'),
         url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
}

body {
    min-width: 320px;
    width: 100vw;
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:  0;
    background-color:  #555;
    overflow-x: hidden;
    transition: width 0.5s; 
    padding-top: 60px;
}

.side-menu .menu-items{
    display: flex;
    flex-direction: column;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0 20px;
}

.side-menu a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #5363db ;
    display: inline-block;
}

.side-menu a:hover {
    color: #999;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  display: block;
  position: absolute;
  align-self: center;
  width: 30px;
  height: 3px;
  background-color: #5363db;
}
.hamburger-menu::before {
  content: '';
  top: -11px;
}
.hamburger-menu::after {
  content: '';
  top: 11px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo{
    display: flex;
}

.hamburger-container{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
}

.hamburger-container {
    visibility: hidden;
 }

 .enroll-section{
     position: relative;
 }

 .trial-background-image{
    background-image: url(../images/bg-01.jpg);
    background-position-x: center;
    background-size: cover;
     }

     .trial-background-color{
         background-color: rgba(83, 99, 219, 0.8);
     }

 .trial-wrapper{
     color: #fff;
     padding: 40px 15px;
     height: 100%;
     font-family: 'Open Sans';
     font-weight: bold;
 }

 .slogans-wrapper{
     text-align: center;
 }

 .main-goal-1{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
text-transform: uppercase;
margin: 35px;
} 

 .main-goal-2{
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    font-family: 'FREESCPT' ;
font-weight: normal;
margin: 35px;
}

  .sign-up-form{
    font-weight: 400;
   background-color: #fff;
   color: #5363db;  
   padding: 0 30px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    text-transform: uppercase;
    border: 1px solid ;
    box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
    border-radius: 25px;
}

.trial{
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: 600;
}

.sign-up-form input,
.sign-up-form select {
border-radius: 6px ;
border-width: 0;
background-color: #f2f2f2;
    margin-bottom: 18px;
    padding: 18px 10px;
    font-size: 14px;
    font-weight: 400;
color: #888888;
}

.sign-up-button{
background-color: #5363db ;
color: #fff;
font-size: 16px;
font-weight: 700;
    width: 170px;
    height: 50px;
    margin: 10px 0 35px calc(100% - 170px);
    border-width: 0;
    border-radius: 6px;
}

@media (max-width: 600px) {
   .hamburger-container {
     visibility:visible;
   }
}