*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	color: #8a8a8a;
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: 0.025em;
	font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
h1, 
h2,
h3,
h4,
p {
	margin: 0 0 1.5rem; 
}

h1, 
h2,
h3,
h4 {
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
}

h1 {
	color: #444342;
	font-size: 4.286rem;
	line-height: 1.25;
	letter-spacing: 0;
}

h2 {
	font-size: 2.571rem;
	line-height: 1;
	color: #686868;
}

.info {
	color: #bfbfbf;
	font-size: 0.858rem;
}

.author {
	color: #868686;
	text-decoration: none;
}
.author:hover {
	opacity: 0.5;
}