*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: #6d6d6d;
    font-size: 18px;
    line-height: 1.333;
    font-family: Dosis, sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    min-width: 320px;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    color: #7ea2b3;
    margin: 0 0 1em;
    line-height: 1.25;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.post {
    display: flex;
    margin-bottom: 80px;
}

.post_image img {
    width: 100%;
}

.post:nth-child(2n) {
    flex-direction: row-reverse;
}

.post:nth-child(2n) .post_content {
    padding-left: 80px;
    padding-right: 0;
}

.post:nth-child(2n) .post_content:before {
    right: -80px;
    left: 0;
}

.post_content {
    width: 50%;
    position: relative;
    top: 40px;
    z-index: 2;
    padding: 60px 80px 20px 0px;
}

.post_content:before {
    content: "";
    position: absolute;
    background-color: #f6fcff;
    box-shadow: -13px 8px 30px rgba(126, 162, 179, 0.42);
    top: 0;
    bottom: 0;
    right: 0;
    left: -80px;
    z-index: -1;
}

.post_image {
    width: 50%;
}

.button {
    color: #fff;
    background-color: #97b621;
    border-radius: 10em;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.5em;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 767px) {
    .post {
        display: block;
        margin: 30px 5px;
        text-align: center;
    }
    .post_image {
        width: 100%;
    }
    .post_content {
        width: 100%;
        padding: 20px 15px;
        top: 0;
    }
    .post:nth-child(2n) .post_content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .post:nth-child(2n) .post_content:before {
        right: 0;
        left: 0;
    }
    .post_content:before {
        right: 0;
        left: 0;
    }
    .button {
        margin: 0 auto;
    }
    .container {
        padding: 0;
    }
}