*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.level-1-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.level-1-2 .top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #d3b714;
    align-items: center;
    padding: 2em;
    font-weight: bold;
}

.level-1-2 .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.level-1-2 .menu li::after {
    content: "";
    padding-right: 1em;
}

.level-1-2 .main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.level-1-2 aside {
    flex: 0 0 210px;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}

.level-1-2 .center {
    order: 1;
    background-color: #ffffff;
    padding: 3em;
    text-align: center;
}

.level-1-2 .work-samples {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
}

.level-1-2 .sample {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    margin: 15px 10px;
    padding: 15px;
    flex: 1 1 calc(33% - 30px);
}

.level-1-2 .work-samples>div>* {
    margin: 20px;
}

.level-1-2 .preview-image {
    display: flex;
    align-self: center;
    background-color: #c7b7b7;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
}

.level-1-2 .button {
    padding: 10px 20px;
    margin: 5px 10px;
    color: #ffffff;
    background: #685174;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.level-1-2 .sample-header {
    flex-grow: 1;
}

.level-1-2 .sample-text {
    flex-grow: 1;
}

.level-1-2 .header {
    text-transform: uppercase;
    margin: 1em;
}

.level-1-2 .aside-left {
    order: 0;
    background-color: #c798b9;
}

.level-1-2 .aside-right {
    order: 2;
    background-color: #9cb1c7;
}

.level-1-2 footer {
    background-color: #84e884;
    padding: 1em;
    text-align: center;
}

.level-3 {
    display: flex;
    justify-content: center;
}

.level-3 .holder {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100px;
    border: 5px #000000 solid;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.level-3 .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.level-3 .item-1 {
    order: 1;
    background-color: #fd644d;
    width: 50%;
}

.level-3 .item-5 {
    order: 2;
    background-color: #fda429;
    width: 50%;
}

.level-3 .item-3 {
    order: 3;
    background-color: #663797;
    width: 33.33%;
}

.level-3 .item-2 {
    order: 4;
    background-color: #4983b2;
    width: 33.33%;
}

.level-3 .item-4 {
    order: 5;
    background-color: #0e7f12;
    width: 33.33%;
}