*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?pyi5mi');
    src: url('fonts/icomoon.eot?pyi5mi#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?pyi5mi') format('truetype'), url('fonts/icomoon.woff?pyi5mi') format('woff'), url('fonts/icomoon.svg?pyi5mi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-pinterest:before {
    content: "\ead1";
}

.page-wrapper {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #454545;
    color: #343434;
    padding: 15px 0;
}

.container {
    max-width: 1220px;
    padding: 0 15px;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
}

.nav-menu {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 100%;
    background-color: #fff;
    font-weight: 700;
    transition: left .5s ease;
}

.nav-active .nav-menu {
    left: 0;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.nav-menu li {
    padding: 15px 15px;
    border-bottom: 1px solid #a4a4a4;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
}

.opener {
    display: block;
    text-decoration: none;
    width: 24px;
    height: 20px;
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
}

.opener:before,
.opener:after,
.opener span {
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
}

.opener span {
    top: 50%;
    transform: translateY(-50%);
}

.opener:before {
    content: "";
    top: 0;
}

.opener:after {
    content: "";
    bottom: 0;
}

.page-footer {
    padding: 30px 0;
    background-color: #f7f7f7;
}

.socials {
    width: 50%;
    margin: 0 auto;
}

.socials-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.socials-list li {
    margin-right: 10px;
}

.socials-list a {
    border: 1px solid #968f88;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-decoration: none;
    display: block;
}