*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', Arial, sans-serif;
}

body {
	margin: 0;
}

.wrapper {
	overflow: hidden;
	position: relative;
	max-width: 100%;
}

.container {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 20px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 17px;
	line-height: 1.245;
	text-align: center;
}

.nav-menu > li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 13px;
}

.nav-menu a {
	color: #575757;
	text-decoration: none;
	display: block;
	position: relative;
}

.nav-menu a:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #f3d34f;
	transition: left 0.3s ease, width 0.3s ease;
}

.nav-menu a:hover:before {
	left: 0;
	width: 100%;
}

.dropdown {
	display: none;
}

.banner {
	min-height: 100vh;
	color: #fff;
	padding: 100px 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

h1 {
	text-transform: uppercase;
}