/* part-1 */

blockquote {
    color: green;
}

.part-2 a[href^="https:"] {
    color: red;
}

.part-2 .list>li:last-child>a {
    background-color: green;
}

.part-2 .holder>p:first-of-type {
    font-size: 26px;
}


/* or */


/* .part-2 ul+p {
    font-size: 26px;
} */

.part-3 div>h3:first-child {
    color: pink;
}

.part-3 #greycol {
    color: grey;
}

.part-3 div p:only-child {
    color: red;
}

.part-3 p:nth-last-child(2) {
    color: green;
}

.part-3 .yellow {
    color: yellow;
}

.part-4 .bg-box {
    height: 500px;
    width: 800px;
    background-color: green;
    background-image: url("../images/house.jpg"), url("../images/bulb.png"), url("../images/grass.png"), url("../images/hedgehog.png"), url("../images/donut.webp");
    background-position: center, top, bottom, left, right;
    background-size: 60%, 5%, 20%, 3%, 3%;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
}