/* html {
    margin: 10px;
} */

.level-1 {
    background-color: #0d5825;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    min-height: 500px;
}

.level-1 blockquote {
    padding: 0;
    margin: 0;
}

.level-1 .card {
    white-space: nowrap;
    transform: translateY(40%);
}

.level-1 .card img {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    width: 150px;
}

.level-1 .card li {
    display: inline-block;
}

.level-1 .bottom-card {
    -webkit-transform: translateX(100px) translateY(-5px) rotate(-25deg);
    -moz-transform: translateX(100px) translateY(-5px) rotate(-25deg);
    -ms-transform: translateX(100px) translateY(-5px) rotate(-25deg);
    -o-transform: translateX(100px) translateY(-5px) rotate(-25deg);
    transform: translateX(100px) translateY(-5px) rotate(-25deg);
}

.level-1 .middle-card {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.level-1 .top-card {
    -webkit-transform: translateX(-100px) translateY(15px) rotate(10deg);
    -moz-transform: translateX(-100px) translateY(15px) rotate(10deg);
    -ms-transform: translateX(-100px) translateY(15px) rotate(10deg);
    -o-transform: translateX(-100px) translateY(15px) rotate(10deg);
    transform: translateX(-100px) translateY(15px) rotate(10deg);
}

.level-1 .card img:hover {
    top: -10px
}

.level-2 {
    position: relative;
    height: 440px;
}

.level-2 div {
    width: 200px;
    height: 200px;
}

.level-2 .red-block {
    background-color: #ff8888;
}

.level-2 .green-block {
    position: relative;
    top: 40px;
    left: 240px;
    background-color: #4def99;
}

.level-2 .blue-block {
    position: absolute;
    top: 120px;
    left: 120px;
    background-color: #7e8aeb;
}

.level-3 {
    height: 400px;
    overflow: hidden;
}

.level-3 .sidebar {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    right: 170px;
    background: #807e81;
    color: #dedede;
    transition: right ease 1s;
}

.level-3 .menu-area {
    position: relative;
    width: 20px;
    height: 400px;
    white-space: nowrap;
}

.level-3 .rotate {
    position: absolute;
    top: 50%;
    left: 115%;
    transition: ease 1s;
}

.level-3 .text-to-rotate {
    transform: translateX(115%) translateY(-50%) rotate(90deg);
}

.level-3 .menu-items {
    list-style: none;
    position: absolute;
    right: 90px;
    white-space: nowrap;
    color: #dedede;
}

.level-3 .sidebar:hover {
    right: 0;
    color: rgba(0, 0, 0, 0);
    cursor: default;
}

.level-3 .menu-item {
    margin-top: 10px;
}

.level-3 .menu-item::before {
    content: "\2666 \0020";
    color: #d59106;
}

.level-3 .menu-item:hover {
    color: #d0c1a0;
    cursor: pointer;
}

.level-4 {
    height: 350px;
}

@keyframes perimeter {
    0% {
        top: 0;
        left: 0;
        background-color: #e80002;
    }
    25% {
        top: 250px;
        left: 0;
        background-color: #0200f0;
    }
    50% {
        top: 250px;
        left: 250px;
        background-color: #089303;
    }
    75% {
        top: 0;
        left: 250px;
        background-color: #faff09;
    }
    100% {
        top: 0;
        left: 0;
        background-color: #e80002;
    }
}

.level-4 .moving-block {
    position: relative;
    width: 100px;
    height: 100px;
    animation: perimeter 3s infinite;
    background-color: #e80002;
}